@font-face {
    font-family: 'Alexandria'; /* The name you'll use in CSS */
    src: url("../fonts/Alexandria-VariableFont_wght.ttf"); /* Path relative to the CSS file or the root of the classpath */
}

.root {
    -fx-background-color: #E9E3E1;
    -fx-pref-height: 1024px;
    -fx-pref-width: 1440px;
}

.Menu {
    -fx-background-color: #880D0D;
    -fx-pref-height: 980px;
    -fx-pref-width: 92px;
}

.LogoBookHub {
    -fx-background-image: url("../img/BookHubLogo_RED.png");
    -fx-pref-height: 145px;
    -fx-pref-width: 184px;
}

.ConteinerListas {
}

.Lista {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 5px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
