@font-face {
    font-family: 'Alexandria'; /* The name you'll use in CSS */
    src: url("../fonts/Alexandria-VariableFont_wght.ttf"); /* Path relative to the CSS file or the root of the classpath */
}

.root {
    -fx-background-image: url("../img/login_register_background.jpg");
    -fx-pref-height: 1024px;
    -fx-pref-width: 1440px;
}

.LoginPane {
    -fx-background-color: rgba(255,249,249,0.69);
    -fx-background-radius: 25px;
    -fx-pref-height: 616px;
    -fx-pref-width: 641px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
}

.CampoNomeDeUsuario {
    -fx-background-color: rgba(30,30,30,0.62);
    -fx-pref-height: 44px;
    -fx-pref-width: 462px;
    -fx-prompt-text-fill: #FFFFFF;
    -fx-text-fill:#FFFFFF ;

}

.CampoDeSenha {
    -fx-background-color: rgba(30,30,30,0.62);
    -fx-pref-height: 44px;
    -fx-pref-width: 462px;
    -fx-prompt-text-fill: #FFFFFF;
    -fx-text-fill: #FFFFFF;
}

.BotaoEntrar {
    -fx-background-color: rgba(136,13,13,0.72);
    -fx-pref-height: 44px;
    -fx-pref-width: 137px;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-opacity: 1;
}

.BotaoEntrar:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-opacity: 0.8;
}

.LogoBookHub {
    -fx-background-image: url("../img/BookHubLogo_RED.png");
    -fx-pref-height: 145px;
    -fx-pref-width: 184px;
}

.Cadastrar_se {
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.Cadastrar_se:hover {
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-opacity: 0.8;

}

