@font-face {
    font-family: 'Alexandria'; /* The name you'll use in CSS */
    src: url("../fonts/Alexandria-VariableFont_wght.ttf"); /* Path relative to the CSS file or the root of the classpath */
}

.root {
    -fx-background-color: #E9E3E1;
    -fx-pref-height: 1024px;
    -fx-pref-width: 1440px;
}

.Menu {
    -fx-background-color: #880D0D;
    -fx-pref-height: 980px;
    -fx-pref-width: 92px;
}

.LogoBookHub {
    -fx-background-image: url("../img/BookHubLogo_RED.png");
    -fx-pref-height: 145px;
    -fx-pref-width: 184px;
}

.BarraPesquisa{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-prompt-text-fill: rgba(0,0,0,0.54);
    -fx-text-fill:#000000 ;
    -fx-border-color: rgba(0,0,0,0.3);
    -fx-background-color: #D9D9D9;
}

.scroll {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.ConteinerLivros {
    -fx-spacing: 15px;
    -fx-background-color: transparent;
    -fx-background: transparent;

}

.InfoLivro {
    -fx-background-color: rgba(217,217,217,0.6);
    -fx-background-radius: 5px;
    -fx-border-color: rgba(0,0,0,0.3);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-opacity: 1;
    -fx-transition: all 0.4s;
}


.InfoLivro:hover {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-background-color: rgba(159, 159, 159, 0.9);
}


.ConteinerCapaLivro {
    -fx-background-color: #605151;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-margin: 10 15 10 15;
}

.botao {
    -fx-cursor: hand;
    -fx-opacity: 1;
    -fx-transition: all 0.3s;
}

.botao:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-opacity: 0.8;
}

.Labels {
    -fx-text-fill: #000000;
}



