@font-face {
    font-family: 'Alexandria'; /* The name you'll use in CSS */
    src: url("../fonts/Alexandria-VariableFont_wght.ttf"); /* Path relative to the CSS file or the root of the classpath */
}

.root {
    -fx-background-color: #E9E3E1;
    -fx-pref-height: 1024px;
    -fx-pref-width: 1440px;
}

.Menu {
    -fx-background-color: #880D0D;
    -fx-pref-height: 980px;
    -fx-pref-width: 92px;
}

.LogoBookHub {
    -fx-background-image: url("../img/BookHubLogo_RED.png");
    -fx-pref-height: 145px;
    -fx-pref-width: 184px;
}

.PerfilPrincipal {
    -fx-background-color: #E9E3E1
}

.PainelImagemFundo {
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
    -fx-cursor: hand;
    -fx-opacity: 1;
    -fx-transition: all 0.4s;
}

.PainelImagemFundo:hover {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-opacity: 0.8;
}

.PainelFotoPerfil {
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 100%;
    -fx-cursor: hand;
    -fx-opacity: 1;
    -fx-transition: all 0.4s;
}

.PainelFotoPerfil:hover {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-opacity: 0.8;
}


.scroll {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.LivrosFavoritos {
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-pref-height: 350px;
    -fx-pref-width: 240px;

}

.conteinerCapaLivro {
    -fx-cursor: hand;
    -fx-opacity: 1;
    -fx-transition: all 0.4s;

}

.conteinerCapaLivro:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-opacity: 0.8;
}